@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300,100);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* //////////////////////////////////////// */
/* ///               Fonts              /// */
/* //////////////////////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal; }

img, fieldset {
  border: none; }

input, textarea, button {
  border: none;
  outline: none;
  -webkit-apperance: none;
  background: none;
  font-size: 14px; }

a {
  text-decoration: none; }

li {
  list-style: none; }

/* //////////////////////////////////////// */
/* ///               Global             /// */
/* //////////////////////////////////////// */
html {
  height: 100%; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif; }

a {
  color: #048ec6; }

.button {
  margin: 1em 0;
  padding: 15px 30px;
  display: inline-block;
  background-color: #048ec6;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 100;
  color: white; }
  .button:hover {
    background-color: #036a94; }

.main.demo {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }
  .main.demo header {
    -webkit-flex-basis: 70px;
    -moz-flex-basis: 70px;
    flex-basis: 70px;
    -ms-flex-preferred-size: 70px; }
  .main.demo .playlist-container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .main.demo .player,
  .main.demo .playlist {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.main.login {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-image: linear-gradient(to top, rgba(22, 52, 78, 0.7), transparent), url("../images/icon-background.png");
  text-align: center; }
  .main.login .login-container {
    width: 100%;
    max-width: 800px; }
  .main.login .logo h1 {
    font-size: 50px;
    color: white; }
  .main.login .tagline {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    color: white;
    opacity: .7; }
  .main.login .button {
    min-width: 300px;
    margin: 2em 0; }

header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  padding: 10px 20px;
  z-index: 10;
  background: #17344e;
  color: white; }
  header .logo {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    header .logo img {
      width: 50px;
      height: 50px;
      margin-right: 10px; }
    header .logo h1 {
      font-size: 26px;
      font-weight: 200;
      color: white; }
      header .logo h1 strong {
        font-weight: 400; }
  header .byline {
    text-align: right;
    font-weight: 100;
    font-size: 14px;
    opacity: .8; }
  header .logo-heroku {
    width: 86px;
    height: 24px;
    margin-left: 5px;
    margin-top: -1px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/logo-heroku.svg") no-repeat center center;
    background-size: 86px 24px;
    text-indent: -9999em;
    text-align: left; }

.player {
  padding: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  background-image: linear-gradient(to top, rgba(22, 52, 78, 0.7), transparent), url("../images/icon-background.png");
  color: white; }
  .player h2 {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px; }
  .player .track {
    max-width: 270px;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px; }
    .player .track.now-playing {
      margin-bottom: 40px;
      padding: 15px; }
      .player .track.now-playing img {
        width: 100%;
        margin-bottom: 10px;
        display: block; }
      .player .track.now-playing .track-title {
        font-size: 18px; }
      .player .track.now-playing .track-artist {
        font-size: 14px; }
      .player .track.now-playing:after {
        content: '';
        width: 50px;
        height: 50px;
        position: absolute;
        right: -20px;
        top: -20px;
        background: url("../images/icon-now-playing.svg") no-repeat center center; }
    .player .track.on-deck {
      min-height: 120px;
      padding: 10px 20px 10px 120px;
      position: relative; }
      .player .track.on-deck img {
        width: 100px;
        position: absolute;
        left: 10px;
        top: 10px; }
      .player .track.on-deck .track-title {
        font-size: 16px; }
      .player .track.on-deck .track-artist {
        font-size: 12px; }
    .player .track .track-title,
    .player .track .track-artist {
      display: block; }
    .player .track .track-title {
      margin-bottom: 10px;
      font-weight: 400; }
    .player .track .track-artist {
      opacity: .8; }

.playlist {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }
  .playlist .tracks {
    padding: 25px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .playlist .track {
    padding: 20px 5px;
    position: relative;
    border-bottom: 1px solid #d6d6d6;
    font-size: 15px; }
    .playlist .track:first-child {
      padding-top: 0; }
    .playlist .track.new:before {
      content: 'NEW';
      padding: 6px 10px;
      position: absolute;
      left: -50px;
      top: 17px;
      background: #048ec6;
      border-radius: 3px;
      font-size: 12px;
      color: white; }
    .playlist .track span {
      display: inline-block;
      vertical-align: middle; }
  .playlist .track-title {
    width: calc((60% - 30px));
    padding-right: 30px; }
  .playlist .track-artist {
    width: calc((40% - 30px));
    padding-right: 15px; }
  .playlist .track-time {
    width: 60px;
    text-align: right; }
  .playlist footer {
    padding: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    background: #e7e7e7; }
  .playlist .track-count {
    font-style: italic; }
    .playlist .track-count span {
      margin-right: 3px;
      padding: 3px 8px;
      display: inline-block;
      background: #048ec6;
      border-radius: 3px;
      font-style: normal;
      font-weight: 400;
      color: white; }
  .playlist .sms-number {
    text-align: right; }
    .playlist .sms-number span, .playlist .sms-number strong {
      display: inline-block;
      vertical-align: middle; }
    .playlist .sms-number strong {
      margin-left: 10px;
      font-size: 20px; }
      .playlist .sms-number strong:before {
        content: '';
        width: 25px;
        height: 13px;
        margin-right: 10px;
        display: inline-block;
        background: url("../images/icon-arrow.svg") no-repeat center center; }
    .playlist .sms-number .alt-number {
      display: block;
      font-style: italic;
      opacity: .7; }
