.player {
  padding: 30px;
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  background-image: linear-gradient(to top, rgba(22,52,78,.7), transparent),
                    url('../images/icon-background.png');
  color: white;

  h2 {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
  }

  .track {
    max-width: 270px;
    position: relative;
    background: rgba(255,255,255,.2);
    border-radius: 3px;

    &.now-playing {
      margin-bottom: 40px;
      padding: 15px;

      img {
        width: 100%;
        margin-bottom: 10px;
        display: block;
      }

      .track-title {
        font-size: 18px;
      }

      .track-artist {
        font-size: 14px;
      }

      &:after {
        content: '';
        width: 50px;
        height: 50px;
        position: absolute;
        right: -20px;
        top: -20px;
        background: url('../images/icon-now-playing.svg') no-repeat center center;
      }
    }

    &.on-deck {
      min-height: 120px;
      padding: 10px 20px 10px 120px;
      position: relative;

      img {
        width: 100px;
        position: absolute;
        left: 10px;
        top: 10px;
      }

      .track-title {
        font-size: 16px;
      }

      .track-artist {
        font-size: 12px;
      }
    }

    .track-title,
    .track-artist {
      display: block;
    }

    .track-title {
      margin-bottom: 10px;
      font-weight: 400;
    }

    .track-artist {
      opacity: .8;
    }

  }

}
